*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{

    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}
header{

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;

}
.Logo {
   font-size: 2em;
   color: #fff;
   user-select: none;
}
    
.navbar a{

    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}



.navbar a::after {
    content: '';
    position: absolute;
width: 100%;
height: 3px;
background: #fff;
border-radius: 5px;
left: 0;
bottom: -6px;
transform-origin: right;
transform: scaleX(0);
transition: transform .5s;

}
.navbar a:hover::after
{

    transform-origin: left;
    transform: scaleX(1);
}
 
.navbar .btnlogin-popup{

    
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;

}

.navbar .btnlogin-popup:hover{
    background-color: #fff;
    color: #162938;

}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;



}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .iconclose{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    
    
}
.form-box h2{
    font-size: 2em;
    font-weight: 6600;
    color: #162938;
    align-items: center;
    text-align: center;
}
.input-box{

    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;


}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #162938;
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box inout:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    color: #162938;
    font-weight: 600;
    padding: 0px 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;


}
.remember-forget{

    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;


}

.remember-forget a{
    color: #162938;
    text-decoration: none;

}
.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background: #162938;
    border: none;
    color: #162938;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;


}
.Registerlink {
    width: 100%;
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.Registerlink p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.Registerlink p a:hover {
    text-decoration: underline;
}
