*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;

}
body{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container{
    display: flex;
    background: #fff;
    box-shadow:  0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}
.left-box{
    background: #04b6d9;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    flex:1;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.left-box h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.left-box p{
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.social-icons a{
    color: #fff;
    margin: 0 8px;
    font-size: 16px;
    transition: 0.3s;

}
.social-icons a:hover{
    color: #333;
}
.right-box{
    flex: 2;
    padding: 40px;

}
.right-box h2{
    font-size: 24px;
    margin-bottom: 15px

}
.right-box p{
    font-size: 15px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    border: 2px solid #04b6d9;
    background: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn :hover{
    background: #04b6d9;
    color: #fff;
}
.credit{
    font-size: 12px;
    color: #777;
    margin-top: 17px;

}
.credit a{
    color: #04b6d9;
    text-decoration: none;

}