*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #548687;
    text-align: center;

}

.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;

}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{

    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0, .1);
    font-size: 8vmin;
    color: #b041b0;
    background-color: #fff
    ;


}
#resetBtn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    border: none;

}
#New-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #fff;
    font-size: 5vmin;
}
.Msg-Container{
    color: #fff;
    font-size: 8vmin;
    height: 30vmin;
   
}
.Msg-Container.hide{
    display: none;
}
#msg2 {
  color: #fff;
  font-size: 5vmin;
}

.DrawGame {
  color: #fff;
  font-size: 8vmin;
  height: 30vmin;
  
}
.DrawGame.hide{
    display: none;
}

