*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: #081b31;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.choice:hover{
    background-color: black;
    cursor: pointer;

}
img{
    height: 180px;
    width: 180px;
    object-fit: cover; /* PICTURE NOT SHRINK*/
    border-radius: 50%;
    

}
.Choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    
}

.Scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 3rem;
    gap: 5rem;



}
#user-score, #comp-score{
    font-size: 4rem;

}
.msg-container{
    margin-top: 10rem;
}
#msg{
    background-color: #081b31;
    color: aliceblue;
    line-height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;


}